<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires to access your camera to retrieve images and perform the demo</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>CFBundleName</key>
	<string>rascapp</string>
</dict>
</plist>
